<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('partials/head') %>
		<title>About</title>
	</head>
	<body>
		<%- include('partials/nav') %>

		<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
			<section>
				<h1 class="display-1">About</h1>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cum expedita vitae quis.
					Totam unde ipsam omnis asperiores placeat, natus quas quae. Porro commodi aliquid quia
					explicabo est dignissimos nesciunt ducimus maiores consequuntur cupiditate quos alias eum
					hic quas labore sed, obcaecati nihil inventore dicta eos perferendis quisquam quasi eaque?
					Molestiae similique beatae asperiores nostrum. Sequi id corrupti soluta consectetur labore
					aperiam, expedita praesentium esse natus eius aliquam magnam in consequatur dignissimos,
					modi repellendus sunt laborum voluptates itaque at incidunt. Illo odio et, tenetur
					deleniti dignissimos repellendus consectetur perferendis quibusdam maiores nemo, aliquid
					voluptates consequatur animi exercitationem error eligendi! Veniam commodi at omnis fugiat
					necessitatibus eius corporis quis delectus! Tempora beatae obcaecati amet dolorem ducimus?
					Distinctio sapiente magni fugiat voluptatibus minus voluptatum error odit natus itaque
					sequi quisquam vero quia consectetur dolor, doloribus iste consequuntur, blanditiis nulla
					similique eius quasi aut perspiciatis at possimus! Itaque asperiores nulla facere? Ex enim
					aperiam, eveniet perspiciatis error laudantium asperiores dolorum molestias quaerat
					consequuntur beatae consectetur? Vel incidunt unde voluptatem, fuga ipsa soluta maxime
					adipisci inventore dolorem? Atque reiciendis, quisquam provident inventore fugit quod
					soluta eveniet earum tempore, aliquid labore cumque accusantium odit, rem nostrum quis?
					Voluptate, consequuntur. Porro perferendis consectetur ab consequuntur asperiores.
				</p>
			</section>
		</main>
    <%- include('partials/scripts') %>
	</body>
</html>
