<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('partials/head') %>
		<title>Home</title>
	</head>
	<body>
		<%- include('partials/nav') %>

		<header class="container vh-100 d-flex justify-content-center align-items-center">
			<div class="d-flex flex-column justify-content-center align-items-center">
				<img src="/img/nodejs.png" alt="nodejs" class="w-25" />
				<h1 class="dipslay-1 my-5 text-uppercase fw-bold">Nodejs Web</h1>
				<a href="/about" class="btn btn-primary w-25">About</a>
			</div>
		</header>

		<%- include('partials/footer') %>
    <%- include('partials/scripts') %>
	</body>
</html>
